/*Main CSS file for all pages*/
body {
  margin: 0px;
  background-color:#162521;
  color:#C4D6B0;
  font-family:Avenir Next;
}
.navbar{
  background-color:#162521;
  text-align:center;
  height:100px;
  border:none;
  box-shadow: 0px 5px 4px -1px rgba(0,0,0,0.75);
  font-size:80px;
  line-height:100px;
}
.navbar>h2{
  font-size:60px;
}
#simulation{
  margin-left:100px;
}
#dayLabel{
  font-size:80px;
  font-weight:600;
  margin-left:100px;
}
#numCreatureLabel{
  font-size:40px;
}
#foodPDay{
  font-size:40px;
}
#exampleRender{
  margin-top:40px;
}
h2{
  font-size:100px;
  font-weight:600;
  text-transform:capitalize;
  font-variant:small-caps;
}
h3{
  font-size:30px;
  font-weight:600;
  text-transform:capitalize;
  font-variant:small-caps;
  margin-left:80px;
}

.form-group{
  width:60%;
  margin-top:80px;
}
.input-title{
  font-size:50px;
  text-transform:capitalize;
  font-variant:small-caps;
}
.pull-left,.pull-right{
  font-size:20px;
}

#plusImg{
  display:inline-block;
  vertical-align:middle;
  cursor:pointer;
  margin-left:30px;
}

input[type=number]{
  width:120px;
  height:80px;
  background-color:#162521;
  border:none;
  font-size:50px;
  font-weight:600;
  color:#C4D6B0;
}
input[type=number]::placeholder{
  color:#C4D6B060;
}
#popSize-group{
  width:100%;
}
#popSize-group>label{
  padding-left:0;
  margin-right:-200px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ba5624;
  border-radius: 11.4px;
  border: 0px solid #ba5624;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 1px rgba(13, 13, 13, 0.14);
  border: 1px solid #ffa552;
  height: 21px;
  width: 21px;
  border-radius: 21px;
  background: #ffa552;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #be5825;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ba5624;
  border-radius: 11.4px;
  border: 0px solid #ba5624;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 1px rgba(13, 13, 13, 0.14);
  border: 1px solid #ffa552;
  height: 21px;
  width: 21px;
  border-radius: 21px;
  background: #ffa552;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #b65423;
  border: 0px solid #ba5624;
  border-radius: 22.8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #ba5624;
  border: 0px solid #ba5624;
  border-radius: 22.8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 1px rgba(13, 13, 13, 0.14);
  border: 1px solid #ffa552;
  height: 21px;
  width: 21px;
  border-radius: 21px;
  background: #ffa552;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ba5624;
}
input[type=range]:focus::-ms-fill-upper {
  background: #be5825;
}

.populationHolder{
  background-color:#FFA552;
  height:80px;
  border-radius:60px;
  padding: 0 80px;
  margin-top:50px;
  transition:all 0.3;
}
.cardTitle{
  font-size:60px;
  font-weight:600;
  text-transform:capitalize;
  font-variant:small-caps;
  color:black;
}
#delImg{
  margin-top:20px;
  cursor:pointer;
}
#editImg{
  margin-top:20px;
  cursor:pointer;
}

#addPopButton{
  background-color:#BA5624;
}
#addPopButton:hover{
  background-color:#FFA552;
}

#startSimButton{
  background-color:#C4D6B0;
}
#startSimButton:hover{
  background-color:#D6F7A3;
}
#startSimButton:disabled:hover{
  background-color:#87987E;
  width:350px;
  height:80px;
  font-size:30px;
  margin-top:80px;
  margin-left:0;
}


.butt{
  margin-top:80px;
  width:350px;
  height:80px;
  font-size:30px;
  border-radius:60px;
  color:#162521;
  font-weight:600;
  padding: 20px 0;
  transition: 0.15s;
}
.butt:hover{
  width:380px;
  height:100px;
  font-size:35px;
  margin-top:70px;
  margin-left:-15px;
}

#simCreation{
  display:none;
}
#mainSim{
  display:none;
}

.modal{
  margin-top:200px;
}
.modal-content{
  background-color:#FFA552;
}
.modal-header>h5{
  font-size:40px;
  color:black;
  font-weight:600;
  margin-top:10px;
}
.modal-header{
  border-bottom:4px solid #BA5624;
}
#numFoods-group>label{
  font-size:23px;
  color:black;
  text-transform:none;
  font-variant:none;
  margin-top:15px;
  margin-left:20px;
  margin-right:-25px;
}
#numFoods-group>input[type=number]{
  background-color:#FFA552;
  font-size:30px;
  color:black;
  height:60px;
  border-bottom:3px solid #BA5624;
}
#dist-group{
  margin-top:20px;
}
#dist-group>label{
  font-size:23px;
  color:black;
  text-transform:none;
  font-variant:none;
  margin-top:15px;
  margin-left:20px;
  margin-right:-25px;
}
#dist-group>select{
  background-color:#FFA552;
  font-size:20px;
  color:black;
  height:60px;
  border-bottom:3px solid #BA5624;
  width:120px;
}
.modal-body{
  border-bottom:4px solid #BA5624;
  padding-top:100px;
  padding-bottom:100px;
}
.modal-footer{
  border-top:none;
}
.modal-footer>button{
  width:150px;
  height:60px;
  font-size:20px;
  color:black;
  font-family:Avenir Next;
  border-radius:30px;
  font-weight:600;
  background-color:#F02D3A;
  margin-left:100px;
}
.modal-footer>button:hover{
  background-color:#DD0426;
  color:black;
}
#startButt{
  width:200px;
  background-color:#C4D6B0;
  border:none;
}
#startButt:hover{
  background-color:white;
}